
  <meta charset="UTF-8">

  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui">

  <!-- OPEN GRAPH TAGS -->
  <meta property="og:title" content="<%= title %>"/>
  <meta property="og:url" content="<%= url %>" />
  <meta property="og:image" content="http://legacyofhope.org/img/<%= thumb_img %>"/>
  <meta property="og:site_name" content="Legacy of Hope Foundation"/>
  <meta property="og:description" content="<%= description %>"/>
  <meta property="og:type" content="website" />


  <!-- CSS -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link rel="stylesheet" href="/css/boxy.css" media="screen" type="text/css" >
  <link rel="stylesheet" href="/css/reset.css" media="screen" type="text/css" />
   <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css" />
  <link rel="stylesheet" href="/css/pages/<%= stylesheet %>" media="screen" type="text/css" />


  <!-- SCRIPTS -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
  <script src="/js/sharing.js"></script>
  <script src="/js/picturefill.js"></script> 


 