<!DOCTYPE html>
<html>

<head>
 <% include partials/loh-head %>

 <script type="text/javascript" src="/js/jquery.ellipsis.min.js"></script>


 <!-- This script is modified specifically for this page at line 73 -->
 <script type="text/javascript" src="/js/unslider.js"></script>

 <link rel="stylesheet" href="/css/animate.css">


</head>

<body>
  <div class="wrapper home"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>





      <!-- HERO -->
      <div style="position:fixed;">

      <div class="banner" >
        <ul>
          <li>
            <div class="hero first">
              <img src="/img/home_hero1.png"/>
              <div class="heroblurb">
                <div class="wrapper-content">
                  <div class="countdown">
                    <h1>Concert Begins in</h1>
                    <span class="days">
                      <div id="days"></div>
                      <h2>days</h2>
                    </span>
                    <span class="hours">
                      <div id="hours"></div>
                      <h2>hrs</h2>
                    </span>

                    <span class="minutes">
                      <div id="minutes"></div>
                      <h2>mins</h2>
                    </span>
                  </div>
                  <script type="text/javascript" src="/js/countdown.js"></script>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="hero second">
              <img src="/img/home_hero2.png" />
              <div class="heroblurb">
                <div class="wrapper-content">
                  <h3>Celebrating the Nelson Mandela Children's Hospital</h3>
                  <p class="herop1">“A specialized, dedicated children’s hospital will be a credible demonstration of the commitment of African leaders to place the rights of children at the forefront. Nothing less would be enough."</p>
                  <p class="herop2">- Nelson Mandela</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      </div>

      <div class="herospacer">
      <img src="/img/home_hero1.png"/>
            <a href="#" class="unslider-arrow prev" ><img src="/img/left_arrow.png"/></a>
            <a href="#" class="unslider-arrow next"><img src="/img/right_arrow.png"/></a>
      </div>
      <div class="herobuffer"></div>
      <script type="text/javascript">

      var first = true;
      $('.prev').fadeOut(0, "linear");
       var unslider =  $('.banner').unslider({
          speed: 600,  
          delay: 10000,             
          dots: false, 
          complete: function() {
            updateArrows();
          } ,             
          fluid: true        
        });

       $('.unslider-arrow').click(function() {
        var fn = this.className.split(' ')[1];
        
        //  Either do unslider.data('unslider').next() or .prev() depending on the className
        unslider.data('unslider')[fn]();
        unslider.data('unslider').start();
      
    });
       var updateArrows = function(){
          
        if(first){
          $('.next').fadeOut(100, "linear");
          $('.prev').fadeIn(100, "linear");
            first=false;
          
        }else{
           $('.prev').fadeOut(100, "linear");
          $('.next').fadeIn(100, "linear");
          first=true;
        }

      };
    </script>







    <!-- PAGE -->

    <div class="page">

      <div class="container">


        <div class="eight columns maincopy about">
          <h1>The Legacy of Hope Concert</h1>
          <h3>December 13th, 2014</h3>
          <p>The LEGACY OF HOPE FOUNDATION will produce a historical evening of music and entertainment this December in support of a global campaign to fulfill the last living wish of Nelson Mandela—to build a dedicated children’s hospital in Johannesburg, South Africa. This will be the fifth dedicated children’s hospital serving the entire continent of Africa.</p>
          <p>The LEGACY OF HOPE CONCERT will feature 10 premier artist/performers and will be broadcast and streamed worldwide. Interspersed with never before seen documentaries within the performances, these vignettes celebrate Nelson Mandela’s love of children and his dream of free and accessible healthcare for the children of South Africa. </p>

          <img src="/img/home_barclays.jpg" />

          <p><b>WHERE:</b><br>Barclays Center, New York City<br></p>

          <p><br><b>WHEN:</b><br>Saturday, December 13th, 2014.</p>


          <p><br><br>Stay tune for Ticket sales.</p>


          <p style="font-size: 15px; line-height: 1.9;"><b>EXECUTIVE PRODUCER:</b><br>This concert and media event will be produced by noted music producer, Eric Gast, CEO of the Legacy of Hope Foundation</p>

                <!-- <a href="/mission" class="left">Learn more about our mission ></a>
                <a href="/mission#about" class="right">Learn more about the hospital ></a> -->
              </div>


              <% include partials/loh-sidebar %>

            </div>

            <div class="honorary container">
              <div class="left arrow" ><i class="fa fa-chevron-left 6x"></i></div>
              <div class="right arrow"><i class="fa fa-chevron-right 6x"></i></div>

              <div style="width: 100%">
                <h4 class="subheading">Meet the Honorary Board<hr size="2" color="#3E3F4"></h4>
              </div>

              <div class="inner-container">
                <% var panels = Math.ceil(board.length/4); %>
                <div class="content-container" style="width: <%= panels *100 %>%;)">
                  <% for (var i = 0; i < board.length; i++) { %>
                  <div class="three columns board">
                    <div class="stretchy-wrapper">
                      <img src="<%= board[i].image %>"/>
                    </div>
                    <p><%= board[i].name %></p>
                  </div>
                  <% } %>

                </div>
              </div>
            </div>

            <script type="text/javascript">
              var currentpanel = 0;
              $('.right').click(function(){
                if(currentpanel < <%= panels - 1 %>){
                  var scroll = $('.inner-container').width();
                  scroll += currentpanel*scroll;
                  currentpanel++;
                  $('.board').each(function() {
                    $(this).animate({
                     left: scroll * -1
                   }, 500);
                  })
                }
              });

              $('.left').click(function(){
               if(currentpanel > 0 ){
                var scroll = $('.inner-container').width();
                scroll -= currentpanel*scroll;
                currentpanel--;
                $('.board').each(function() {
                  $(this).animate({
                   left: scroll
                 }, 500);
                })
              }
            });


            </script>




            <div class="container latestnews" style="display: block">
              <div style="width: 100%">
                <h4 class="subheading">Latest News<hr size="2" color="#3E3F4"></h4>
              </div>
              <% for (var i = 0; i < (stories.length <= 3 ? stories.length : 3); i++) { %>
              <a class="four columns card" href="<%= stories[i].link %>">
                <div class="stretchy-wrapper">
                  <img src="<%= stories[i].image %>"/>
                </div>
                <h5><%= stories[i].title %></h5>
                <p class="cardcopy"><%= stories[i].blurb %></p>

                <hr style="border: dashed 1px #DEDEDE; "/>
                <div class="bottom">
                  <span>
                    <p class="date" style="vertical-align: text-top;"><%= stories[i].date %></p>
                    <p class="likes"><i class="fa fa-heart"> </i> <%= stories[i].likes %></p>
                  </span>
                </div>
                <hr style="border: solid 1px #DEDEDE;"/>

              </a>
              <% } %>
            </div>

            <script type="text/javascript">
              $('.cardcopy').ellipsis({
                row: 3
              });
            </script>




          </div>
          <div class="sponsors">
            <div class="container">
              <div class="sponsor aol">
                <span>
                  <div>
                    <img src="/img/aol_logo.png"/>

                    <h5><strong>AOL</strong><br> is a proud sponsor of <nobr><strong> The Legacy of Hope</strong></nobr></h5>
                  </div>
                </span>
              </div>
            </div>

<!-- 
            <div class="container">
              <div class="sponsor aol">
                <span >
                 <div >
                  <img src="/img/aol_logo.png"/>
                    <h5><strong>AOL</strong><br> is a proud sponsor of <nobr><strong> The Legacy of Hope</strong></nobr></h5>

                    </div>
                </span>
              </div>
            </div>

            <div class="container">
              <div class="sponsor aol">

               <span >
                <div >
                  <img src="/img/aol_logo.png"/>
                    <h5><strong>AOL</strong><br> is a proud sponsor of <nobr><strong> The Legacy of Hope</strong></nobr></h5>
             
                   </div>
                </span>
              </div>
            </div> -->

          </div>

          <script type="text/javascript">
            // var current = 0;
            // for (var i =1; i < $('.sponsor').length;i++){
            //   $('.sponsor').eq(i).fadeOut(0);
            // }

            // var nextSponsor = function(){
            //   $('.sponsor').eq(current).fadeOut(500, function(){
            //     current = (current +1) % $('.sponsor').length
            //     $('.sponsor').eq(current).fadeIn(500);
            //     setTimeout(function(){nextSponsor()}, 3000);
            //   });

            // }

            // $( document ).ready(function() {
            //   setTimeout(function(){nextSponsor()}, 3000);
            // });
</script>
<!-- END PAGE -->






<% include partials/loh-footer %>
</div>
</body>

</html>