<!DOCTYPE html>
<html>

<head>
 <% include partials/loh-head %>

 <script type="text/javascript" src="/js/jquery.ellipsis.min.js"></script>


 <!-- This script is modified specifically for this page at line 73  and line 56-->
 <script type="text/javascript" src="/js/home.unslider.js"></script>

 


</head>

<body>
  <div class="wrapper home"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>





      <!-- HERO -->
      <div class="wrapper-fix herofix">

      <div class="banner" >
        <ul>
          <li>
            <div class="hero first">
              <img src="img/home_hero1.png"/>
              <div class="heroblurb">
                <div class="wrapper-content">
                  <div class="countdown">
                    <h1>Concert Begins in</h1>
                    <span class="days">
                      <div id="days"></div>
                      <h2>days</h2>
                    </span>
                    <span class="hours">
                      <div id="hours"></div>
                      <h2>hrs</h2>
                    </span>

                    <span class="minutes">
                      <div id="minutes"></div>
                      <h2>mins</h2>
                    </span>
                  </div>
                  <script type="text/javascript" src="/js/countdown.js"></script>
                  <link rel="stylesheet" href="/css/animate.css">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="hero second">
              <img src="img/home_hero2.png" />
              <div class="heroblurb">
                <div class="wrapper-content">
                  <h3>Celebrating the Nelson Mandela Children's Hospital</h3>
                  <p class="herop1 randomquote"></p>
                  <p class="herop2 randomquoteauthor"></p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="hero third">
              <img src="img/home_hero3.png" />
              <div class="heroblurb top">
                  <h3>The Nelson Mandela Children's Hospital</h3>
                  </div>
                 <div class="heroblurb bottom"> 
                  <p >A crucially needed pediatric hospital in South Africa is long overdue</p>
                  <p ><a href="/hospital">find out more &nbsp<i class="fa fa-chevron-right 6x" ></i></a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      </div>

      <div class="herospacer left">
      <img src="/img/home_hero1.png"/>
            <a href="#" class="unslider-arrow prev" ><img src="/img/left_arrow.png"/></a>
            </div>
      
      <div class="herospacer right">
      <img src="/img/home_hero1.png"/>
             <a href="#" class="unslider-arrow next"><img src="/img/right_arrow.png"/></a>
            </div>
     
     
       <script type="text/javascript" src="/js/hero.js"></script>
      <div class="herobuffer"></div>
      <script type="text/javascript">

      var index = 0;
      var numslides =3;
      var auto = true;
      var dir = 'next';
      $('.prev').fadeOut(0, "linear");
       var unslider =  $('.banner').unslider({
          speed: 600,  
          delay: 5000,             
          dots: false, 
          complete: function() {
            updateArrows(dir);
            if(index!=1){
              randomQuote();
            }
            dir='next';
          } ,             
          fluid: true ,
          keys: false,
          pause: false       
        });

       $('.unslider-arrow').click(function() {
        var fn = this.className.split(' ')[1];
        
        dir = fn;
        unslider.data('unslider')[fn]();
        unslider.data('unslider').start();
      
    });
       var updateArrows = function(dr){
          
         if(dr=='next'){
          index = (index + 1) % numslides;
         } else{
          index--;
         }
          

        if(index==numslides-1){
          $('.next').fadeOut(100, "linear");
          $('.prev').fadeIn(100, "linear");
           
          
        }else if (index==0){
           $('.prev').fadeOut(100, "linear");
          $('.next').fadeIn(100, "linear");
        }
        else{
           $('.prev').fadeIn(100, "linear");
          $('.next').fadeIn(100, "linear");
        }

      };

      var qs = [];
      <% for (var i=0; i<quotes.length; i++){ %>
        qs[<%= i %>] = "<%= quotes[i].quote %>";
      <% } %>

      var qas = [];
      <% for (var i=0; i<quotes.length; i++){ %>
        qas[<%= i %>] = "<%= quotes[i].author %>";
      <% } %>

      var randprime = -1
      var randomQuote = function(){

        var rand = Math.floor(Math.random() * qs.length);
        while(rand==randprime){
            rand = Math.floor(Math.random() * qs.length);
        }
          $('.randomquote').html('"' + qs[rand] + '"');
          $('.randomquoteauthor').html("- " + qas[rand]);
          randprime = rand;
      }

      $( document ).ready(function() {
           randomQuote();
           $('.herospacer').fadeIn(0,"linear");
      });
    </script>







    <!-- PAGE -->

    <div class="page">

      <div class="container">


        <div class="eight columns maincopy about">
          <h1>The Legacy<em>Of</em>Hope Nelson Mandela Children's Hospital Concert</h1>
          <h3>December 13th, 2014</h3>
          <p>The LEGACY OF HOPE FOUNDATION will produce a historical evening of music and entertainment this December in support of a global campaign to fulfill the last living wish of Nelson Mandela—to build a dedicated children’s hospital in Johannesburg, South Africa. This will be the fifth dedicated children’s hospital serving the entire continent of Africa.</p>
          <p>The LEGACY OF HOPE NELSON MANDELA CHILDREN'S HOSPITAL CONCERT will feature 10 premier artist/performers and will be broadcast and streamed worldwide. Interspersed with never before seen documentaries within the performances, these vignettes celebrate Nelson Mandela’s love of children and his dream of free and accessible healthcare for the children of South Africa. </p>

          <img src="/img/home_barclays.jpg" />

          <p><b>WHERE:</b><br>Barclays Center, New York City<br></p>

          <p><br><b>WHEN:</b><br>Saturday, December 13th, 2014.</p>


          <p><br>Stay tuned for more details and ticket sales information.</p>


          <p style="font-size: 15px; line-height: 1.9;"><b>EXECUTIVE PRODUCER:</b><br>This concert and media event will be produced by noted music producer, Eric Gast, CEO of the Legacy of Hope Foundation</p>

                <!-- <a href="/mission" class="left">Learn more about our mission ></a>
                <a href="/mission#about" class="right">Learn more about the hospital ></a> -->
              </div>


              <% include partials/loh-sidebar %>

            </div>

            <div class="honorary container">
              <div class="left arrow" ><i class="fa fa-chevron-left 6x"></i></div>
              <div class="right arrow"><i class="fa fa-chevron-right 6x"></i></div>

              <div style="width: 100%">
                <h4 class="subheading">Meet the Honorary Board<hr size="2" color="#3E3F4"></h4>
              </div>

              <div class="inner-container">
                <% var panels = Math.ceil(board.length/4); %>
                <div class="content-container" style="width: <%= panels *100 %>%;)">
                  <% for (var i = 0; i < board.length; i++) { %>
                  <div class="three columns board">
                  
                    <div class="boardwindow">
                      <div class="innerwindow">
                      <img src="<%= board[i].image %>"/>
                    </div>
                    </div>
                    <p><%= board[i].name %></p>
                  </div>
                  <% } %>

                </div>
              </div>
            </div>

            <script type="text/javascript">
              var currentpanel = 0;
              $('.right').click(function(){
                if(currentpanel < <%= panels - 1 %>){
                  var scroll = $('.inner-container').width();
                  scroll += currentpanel*scroll;
                  currentpanel++;
                  $('.board').each(function() {
                    $(this).animate({
                     left: scroll * -1
                   }, 500);
                    if(currentpanel==<%= panels - 1 %>){
                    $('.left').fadeIn(0,'linear');
                    $('.right').fadeOut(0,'linear');
                  }else{
                    $('.left').fadeIn(0,'linear');
                    $('.right').fadeIn(0,'linear');
                  }
                  })
                }
              });

              $('.left').click(function(){
               if(currentpanel > 0 ){
                var scroll = $('.inner-container').width();
                scroll -= currentpanel*scroll;
                currentpanel--;
                $('.board').each(function() {
                  $(this).animate({
                   left: scroll
                 }, 500);
                  if(currentpanel==0){
                    $('.left').fadeOut(0,'linear');
                    $('.right').fadeIn(0,'linear');
                  }else{
                    $('.left').fadeIn(0,'linear');
                    $('.right').fadeIn(0,'linear');
                  }
                })
              }
            });
              $( document ).ready(function() {
                $('.left').fadeOut(0,'linear');
               });



            </script>




            <div class="container latestnews" style="display: block">
              <div style="width: 100%">
                <h4 class="subheading">Latest News<hr size="2" color="#3E3F4"></h4>
              </div>
              <% for (var i = 0; i < (stories.length <= 3 ? stories.length : 3); i++) { %>
              <a class="four columns card" href="<%= stories[i].link %>">
                <div class="stretchy-wrapper">
                  <img src="<%= stories[i].image %>"/>
                </div>
                <h5><%= stories[i].title %></h5>
                <p class="cardcopy"><%= stories[i].blurb %></p>

                <hr style="border: dashed 1px #DEDEDE; "/>
                <div class="bottom">
                  <span>
                    <p class="date" style="vertical-align: text-top;"><%= stories[i].date %></p>
                   <!--  <p class="likes"><i class="fa fa-heart"> </i> <%= stories[i].likes %></p> -->
                  </span>
                </div>
                <hr style="border: solid 1px #DEDEDE;"/>

              </a>
              <% } %>
            </div>

            <script type="text/javascript">
              $('.cardcopy').ellipsis({
                row: 3
              });
            </script>




          </div>
          <div class="sponsors">
            <div class="container">
              <div class="sponsor aol">
                <span>
                  <div>
                    <img src="/img/aol_logo.png"/>
                    <h5>The AOL Cause Module is a proud provider of complimentary media services
                    <nobr>for <strong>Legacy<em>Of</em>Hope</strong></nobr></h5>
                  </div>
                </span>
              </div>
            </div>

<!-- 
            <div class="container">
              <div class="sponsor aol">
                <span >
                 <div >
                  <img src="/img/aol_logo.png"/>
                    <h5><strong>AOL</strong><br> is a proud sponsor of <nobr><strong> The Legacy of Hope</strong></nobr></h5>

                    </div>
                </span>
              </div>
            </div>

            <div class="container">
              <div class="sponsor aol">

               <span >
                <div >
                  <img src="/img/aol_logo.png"/>
                    <h5><strong>AOL</strong><br> is a proud sponsor of <nobr><strong> The Legacy of Hope</strong></nobr></h5>
             
                   </div>
                </span>
              </div>
            </div> -->

          </div>

          <script type="text/javascript">
            // var current = 0;
            // for (var i =1; i < $('.sponsor').length;i++){
            //   $('.sponsor').eq(i).fadeOut(0);
            // }

            // var nextSponsor = function(){
            //   $('.sponsor').eq(current).fadeOut(500, function(){
            //     current = (current +1) % $('.sponsor').length
            //     $('.sponsor').eq(current).fadeIn(500);
            //     setTimeout(function(){nextSponsor()}, 3000);
            //   });

            // }

            // $( document ).ready(function() {
            //   setTimeout(function(){nextSponsor()}, 3000);
            // });
</script>
<!-- END PAGE -->






<% include partials/loh-footer %>
</div>
</body>

</html>