<!DOCTYPE html>
<html>

<head>
 <% include partials/loh-head %>

 <script type="text/javascript" src="/js/jquery.ellipsis.min.js"></script>

 <!-- This script is modified specifically for this page at line 73 -->
 <script type="text/javascript" src="/js/unslider.js"></script>
</head>

<body>
  <div class="wrapper home"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>





      <!-- HERO -->
      <div class="banner">
        <ul>
          <li>
            <div class="hero">
              <img src="/img/home_hero.png" />
              <div class="heroblurb">
                <div class="wrapper-content">
                  <h3>Celebrating the Nelson Mandela Children's Hospital</h3>
                  <p class="herop1">“A specialized, dedicated children’s hospital will be a credible demonstration of the commitment of African leaders to place the rights of children at the forefront. Nothing less would be enough."</p>
                  <p class="herop2">- Nelson Mandela</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="hero ">
              <img src="/img/home_hero.png"/>
              <div class="heroblurb">
                <div class="wrapper-content">
                  <h3>Celebrating the Nelson Mandela Children's Hospital</h3>
                  <p class="herop1">“A specialized, dedicated children’s hospital will be a credible demonstration of the commitment of African leaders to place the rights of children at the forefront. Nothing less would be enough."</p>
                  <p class="herop2">- Nelson Mandela</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="hero ">
              <img src="/img/home_hero.png"/>
              <div class="heroblurb">
                <div class="wrapper-content">
                  <h3>Celebrating the Nelson Mandela Children's Hospital</h3>
                  <p class="herop1">“A specialized, dedicated children’s hospital will be a credible demonstration of the commitment of African leaders to place the rights of children at the forefront. Nothing less would be enough."</p>
                  <p class="herop2">- Nelson Mandela</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>


      <div class="herobuffer"></div>
      <script type="text/javascript">
      // A $( document ).ready() block.
      $(function() {

        $('.banner').unslider({
          speed: 500,               
          dots: true,               
          fluid: true,
          pause: true          
        });
      });
    </script>







    <!-- PAGE -->

    <div class="page">

      <div class="container">
        <div class="eight columns about">
          <h1>The Legacy of Hope</h1>
          <p>The Legacy of Hope Foundation provides medical care and facilities for underserved children and communities around the world. In that spirit, please join us in our global campaign to fulfill the last living wish of Nelson Mandela—to help build the Nelson Mandela Children’s Hospital.</p>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor.</p>
          <p>Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam.</p>
          <a href="/mission" class="left">Learn more about our mission ></a>
          <a href="/mission#about" class="right">Learn more about the hospital ></a>
        </div>


        <div class="four columns fundraiser">
          <h4 style="clear:right">Fundraising Status</h4>
          <hr />
          <div style="float:right; position: relative; height:250px; width: 60px;">
          <span class="thermometer">$70M</span>
         </div>
          <p>$100M is needed to  build the Nelson Mandela Children's Hospital</p>
          <p>$70M has been raised around the world to date</p>
          <p>$30M is still needed</p>
          <h3><a>Give Here!</a> Help fulfill Nelson Mandela's dream</h3>
          <p>Support The Legacy of Hope Foundation</p>
          <div class="donate">
          </div>
        </div>
      </div>


      <div class="container latestnews">
        <h4><u>Latest News</u></h4>
        <% for (var i = 0; i < (cardimg.length <= 3 ? cardimg.length : 3); i++) { %>
        <a class="four columns card" href="<%= cardlink[i] %>">
          <img src="<%= cardimg[i] %>"/>
          <h5><%= cardtitle[i] %></h5>
          <p class="cardcopy"><%= cardcopy[i] %></p>
          <hr style="border: dashed 1px #DEDEDE; "/>
          <div class="bottom">
          <span>
          <p class="date" style="vertical-align: text-top;"><%= carddate[i] %></p>
          <p class="likes"><i class="fa fa-heart"> </i> <%= cardlikes[i] %></p>
          </span>
          </div>
          <hr style="border: solid 1px #DEDEDE;"/>

        </a>
        <% } %>
      </div>

      <script type="text/javascript">
        $('.cardcopy').ellipsis({
          row: 3
        });
      </script>



      <div class="honorary container">
        <div class="left arrow" ><h4><</h4></div>
        <div class="right arrow"><h4>></h4></div>

        <h4><u>Meet the Honorary Board</u></h4>
        <div class="inner-container">
          <% var panels = Math.ceil(boardimg.length/4); %>
          <div class="content-container" style="width: <%= panels *100 %>%;)">
            <% for (var i = 0; i < boardimg.length; i++) { %>
            <div class="three columns board">
              <img src="<%= boardimg[i] %>"/>
            </div>
            <% } %>

          </div>
        </div>
      </div>

      <script type="text/javascript">
        var currentpanel = 0;
        $('.right').click(function(){
          if(currentpanel < <%= panels - 1 %>){
            var scroll = $('.inner-container').width();
            scroll += currentpanel*scroll;
            currentpanel++;
            $('.board').each(function() {
              $(this).animate({
               left: scroll * -1
             }, 500);
            })
          }
        });
        
        $('.left').click(function(){
         if(currentpanel > 0 ){
          var scroll = $('.inner-container').width();
          scroll -= currentpanel*scroll;
          currentpanel--;
          $('.board').each(function() {
            $(this).animate({
             left: scroll
           }, 500);
          })
        }
      });
        

      </script>
    </div>
    <div class="sponsors">
      <div class="container">
      <div class="sponsor aol">
      <span>
        <img src="/img/aol_logo.png" class="three columns offset-by-two"/>
        <div class="five columns">
        <h5>AOL is a proud partner of the <b>Legacy of Hope</b></h5>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor.</p>
        </div>
        </span>
      </div>
      </div>

      
      <div class="container">
      <div class="sponsor aol">
      <span>
        <img src="/img/aol_logo.png" class="three columns offset-by-two"/>
        <div class="five columns">
        <h5>AOL is a proud partner of the <b>Legacy of Hope</b></h5>
        <p> risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor.</p>
        </div>
        </span>
      </div>
      </div>

      <div class="container">
      <div class="sponsor aol">
      
      <span>
        <img src="/img/aol_logo.png" class="three columns offset-by-two"/>
        <div class="five columns">
        <h5>AOL is a proud partner of the <b>Legacy of Hope</b></h5>
        <p>Dblandit tempus porttitor.</p>
        </div>
        </span>
      </div>
      </div>

    </div>

    <script type="text/javascript">
      var current = 0;
      for (var i =1; i < $('.sponsor').length;i++){
        $('.sponsor').eq(i).fadeOut(0);
      }

      var nextSponsor = function(){
        $('.sponsor').eq(current).fadeOut(500, function(){
          current = (current +1) % $('.sponsor').length
                  $('.sponsor').eq(current).fadeIn(500);
                setTimeout(function(){nextSponsor()}, 3000);
        });

      }

      $( document ).ready(function() {
          setTimeout(function(){nextSponsor()}, 3000);
});
    </script>
  <!-- END PAGE -->






  <% include partials/loh-footer %>
</div>
</body>

</html>