<!DOCTYPE html>
<html>

<head>

 <!-- CSS up here -->
 <link rel="stylesheet" type="text/css" href="css/slick.css"/>
 

 <% include partials/loh-head %>

 <!-- scripts down here -->
 <script type="text/javascript" src="/js/jquery.ellipsis.min.js"></script>

</head>

<body>
  <div class="wrapper home"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>





      <!-- HERO -->
      <div class="wrapper-fix herofix">

        <div class="slider">
          <div class="hero first">
            <img src="img/home_hero1.jpg" alt="Barclays Center"/>
            <div class="heroblurb mobileblurb portraitblurb ">
              <div class="wrapper-content">
                <div class="countdown">
                  <h1>Concert Begins in</h1>
                  <span class="days">
                    <div id="days"></div>
                    <h2>days</h2>
                  </span>
                  <span class="hours">
                    <div id="hours"></div>
                    <h2>hrs</h2>
                  </span>

                  <span class="minutes">
                    <div id="minutes"></div>
                    <h2>mins</h2>
                  </span>
                </div>
                <script type="text/javascript" src="/js/countdown.js"></script>
                <link rel="stylesheet" href="/css/animate.css">
              </div>
            </div>
          </div>
          <div class="hero second">
            <img src="img/home_hero2.jpg" alt="Nelson Mandela"/>
            <div class="heroblurb mobileblurb">
              <div class="wrapper-content">
                <h3>Celebrating the Nelson Mandela Children's Hospital</h3>
                <p class="herop1 randomquote mobileblurb"></p>
                <p class="herop2 randomquoteauthor mobileblurb"></p>
              </div>
            </div>
          </div>
          <div class="hero third">
            <img src="img/home_hero3.jpg" alt="Nelson Mandela Children's Hospital groundbreaking"/>
            <div class="heroblurb mobileblurb portraitblurb top">
              <h3>The Nelson Mandela Children's Hospital</h3>
            </div>
            <span class="heroblurb  mobileblurb portraitblurb bottom"> 
              <p >A crucially needed pediatric hospital in South Africa is long overdue</p>
              <p ><a href="/hospital">find out more &nbsp<i class="fa fa-chevron-right 6x" ></i></a></p>
            </span>
          </div>

        </div>
      </div>
      <div class="herospacer">
        <img src="/img/home_hero1.jpg"/>
      </div>
      <div class="herobuffer"></div>

      <script type="text/javascript" src="/js/slick.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){

          $('.slider').slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
            lazyLoad: 'progressive',
            onBeforeChange: function(){
              var newQuote = false;
              if($('.slider').slickCurrentSlide()==1){
                newQuote=true;
              }
              $('.heroblurb').fadeOut(100,function(){
                if(newQuote){
                  randomQuote();
                }
              });
            },
            onAfterChange: function(){
              $('.heroblurb').fadeIn(500,function(){});
            },

            responsive: [{
              breakpoint: 768,
              settings: {
                onBeforeChange: function(){
                $('.heroblurb').fadeOut(100,function(){
                 quote(2);
              });

              },
              onAfterChange: function(){
                $('.mobileblurb').fadeIn(500,function(){});
              }
            }
          },
          {
              breakpoint: 480,
              settings: {
                onBeforeChange: function(){
                $('.heroblurb').fadeOut(100,function(){
              });

              },
              onAfterChange: function(){
                $('.portraitblurb').fadeIn(500,function(){});
              }
            }
          }]

        });
});

var qs = [];
<% for (var i=0; i<quotes.length; i++){ %>
  qs[<%= i %>] = "<%= quotes[i].quote %>";
  <% } %>

  var qas = [];
  <% for (var i=0; i<quotes.length; i++){ %>
    qas[<%= i %>] = "<%= quotes[i].author %>";
    <% } %>

    var randprime = -1
    var randomQuote = function(){

      var rand = Math.floor(Math.random() * qs.length);
      while(rand==randprime){
        rand = Math.floor(Math.random() * qs.length);
      }
      $('.randomquote').html('"' + qs[rand] + '"');
      $('.randomquoteauthor').html("- " + qas[rand]);
      randprime = rand;
    }

    var quote = function(index){
      $('.randomquote').html('"' + qs[index] + '"');
      $('.randomquoteauthor').html("- " + qas[index]);
    }

    $( document ).ready(function() {
     randomQuote();
   });
  </script>







  <!-- PAGE -->
  <div class="safari-fix-parallax-wrapper">
    <div class="page">

      <div class="container">


        <div class="eight columns maincopy about">
          <h1>The Legacy<em>Of</em>Hope Nelson Mandela Children's Hospital Concert</h1>
          <h3>December 13th, 2014</h3>
          <p>The LEGACY OF HOPE FOUNDATION will produce a historical evening of music and entertainment this December in support of a global campaign to fulfill the last living wish of Nelson Mandela—to build a dedicated children’s hospital in Johannesburg, South Africa. This will be the fifth dedicated children’s hospital serving the entire continent of Africa.</p>
          <p>The LEGACY OF HOPE NELSON MANDELA CHILDREN'S HOSPITAL CONCERT will feature 10 premier artist/performers and will be broadcast and streamed worldwide. Interspersed with never before seen documentaries within the performances, these vignettes celebrate Nelson Mandela’s love of children and his dream of free and accessible healthcare for the children of South Africa. </p>

          <img src="/img/home_barclays.jpg" alt="Barclays Center" />

          <p><b>WHERE:</b><br>Barclays Center, New York City<br></p>

          <p><br><b>WHEN:</b><br>Saturday, December 13th, 2014.</p>


          <p><br>Stay tuned for more details and ticket sales information.</p>


          <p style="font-size: 15px; line-height: 1.9;"><b>EXECUTIVE PRODUCER:</b><br>This concert and media event will be produced by noted music producer, Eric Gast, CEO of the Legacy of Hope Foundation</p>

                <!-- <a href="/mission" class="left">Learn more about our mission ></a>
                <a href="/mission#about" class="right">Learn more about the hospital ></a> -->
              </div>


              <% include partials/loh-sidebar %>

            </div>

            <div class="honorary container">
              <div class="left arrow" ><i class="fa fa-chevron-left 6x"></i></div>
              <div class="right arrow"><i class="fa fa-chevron-right 6x"></i></div>

              <div style="width: 100%">
                <h4 class="subheading">Meet the Honorary Board<hr size="2" color="#3E3F4"></h4>
              </div>

              <div class="inner-container">
                <% var panels = Math.ceil(board.length/4); %>
                <div class="content-container" style="width: <%= panels *100 %>%;)">
                  <% for (var i = 0; i < board.length; i++) { %>
                  <div class="three columns board">

                    <div class="boardwindow">
                      <div class="innerwindow">
                        <img src="<%= board[i].image %>" alt="<%= board[i].name %>"/>
                      </div>
                    </div>
                    <p><%= board[i].name %></p>
                  </div>
                  <% } %>

                </div>
              </div>
            </div>

            <script type="text/javascript">
              var currentpanel = 0;
              $('.right').click(function(){
                if(currentpanel < <%= panels - 1 %>){
                  var scroll = $('.inner-container').width();
                  scroll += currentpanel*scroll;
                  currentpanel++;
                  $('.board').each(function() {
                    $(this).animate({
                     left: scroll * -1
                   }, 500);
                    if(currentpanel==<%= panels - 1 %>){
                      $('.left').fadeIn(0,'linear');
                      $('.right').fadeOut(0,'linear');
                    }else{
                      $('.left').fadeIn(0,'linear');
                      $('.right').fadeIn(0,'linear');
                    }
                  })
                }
              });

              $('.left').click(function(){
               if(currentpanel > 0 ){
                var scroll = $('.inner-container').width();
                scroll -= currentpanel*scroll;
                currentpanel--;
                $('.board').each(function() {
                  $(this).animate({
                   left: scroll
                 }, 500);
                  if(currentpanel==0){
                    $('.left').fadeOut(0,'linear');
                    $('.right').fadeIn(0,'linear');
                  }else{
                    $('.left').fadeIn(0,'linear');
                    $('.right').fadeIn(0,'linear');
                  }
                })
              }
            });
              $( document ).ready(function() {
                $('.left').fadeOut(0,'linear');
              });



            </script>



           <!--  <div class="container birthday">
            <div class="four columns offset-by-one">
            <img src="/img/vereen_birthday.jpg"/>
            </div>
            <div class="five columns offset-by-one">
            <h1>Happy Birthday Ben Vereen!</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  </p>
            </div>
            </div> -->




            <div class="container latestnews" style="display: block">
              <div style="width: 100%">
                <h4 class="subheading">Latest News<hr size="2" color="#3E3F4"></h4><p class="clickortap one">click on story to view</p>
              </div>
              <% for (var i = 0; i < (stories.length <= 6 ? stories.length : 6); i++) { %>
              <a class="four columns card" href="<%= stories[i].link %>">
                <div class="stretchy-wrapper">
                  <img src="<%= stories[i].image %>" alt="<%= stories[i].title %>"/>
                </div>
                <h5><%= stories[i].title %></h5>
                <p class="cardcopy"><%= stories[i].blurb %></p>

                <hr style="border: dashed 1px #DEDEDE; "/>
                <div class="bottom">
                  <span>
                    <p class="date" style="vertical-align: text-top;"><%= stories[i].date %></p>
                    <!--  <p class="likes"><i class="fa fa-heart"> </i> <%= stories[i].likes %></p> -->
                  </span>
                </div>
                <hr style="border: solid 1px #DEDEDE;"/>

              </a>
              <% } %>
              <p><a class="readmore" href="/news">more news  &nbsp&nbsp<i class="fa fa-angle-right"></i></a></p>
            </div>


            <script type="text/javascript" src="/js/jquery.ellipsis.min.js"></script>
             <script type="text/javascript" src="/js/cardcopy.js"></script>




          </div>
          <div class="sponsors">
            <div class="container">
              <div class="sponsor aol">
                <span>
                  <div>
                    <img src="/img/aol_logo.png" alt="AOL logo"/>
                    <h5>The AOL Cause Module is a proud provider of complimentary media services
                      <nobr>for <strong>Legacy<em>Of</em>Hope</strong></nobr></h5>
                    </div>
                  </span>
                </div>
              </div>

<!-- 
            <div class="container">
              <div class="sponsor aol">
                <span >
                 <div >
                  <img src="/img/aol_logo.png"/>
                    <h5><strong>AOL</strong><br> is a proud sponsor of <nobr><strong> The Legacy of Hope</strong></nobr></h5>

                    </div>
                </span>
              </div>
            </div>

            <div class="container">
              <div class="sponsor aol">

               <span >
                <div >
                  <img src="/img/aol_logo.png"/>
                    <h5><strong>AOL</strong><br> is a proud sponsor of <nobr><strong> The Legacy of Hope</strong></nobr></h5>
             
                   </div>
                </span>
              </div>
            </div> -->

          </div>

          <script type="text/javascript">
            // var current = 0;
            // for (var i =1; i < $('.sponsor').length;i++){
            //   $('.sponsor').eq(i).fadeOut(0);
            // }

            // var nextSponsor = function(){
            //   $('.sponsor').eq(current).fadeOut(500, function(){
            //     current = (current +1) % $('.sponsor').length
            //     $('.sponsor').eq(current).fadeIn(500);
            //     setTimeout(function(){nextSponsor()}, 3000);
            //   });

            // }

            // $( document ).ready(function() {
            //   setTimeout(function(){nextSponsor()}, 3000);
            // });
</script>
<!-- END PAGE -->






<% include partials/loh-footer %>
<!--  -->
</div>
</body>

</html>